.search-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(140, 223, 221);
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}

.search-input {
  padding: 1rem;
  border-radius: 0.5rem;
}

.input-btn-container {
  display: flex;
  gap: 1rem;
}
